img[id^='bg'] {
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
img#bg-tween {
	opacity: 0;
	transition: opacity 0.2s;
}

div.panel {
	display: flex;
}
.panel-left {
	flex-direction: row;
}
.panel-right {
	flex-direction: row-reverse;
}
.panel-top {
	flex-direction: column;
}
.panel-bottom {
	flex-direction: column-reverse;
}

::selection {
	background-color: transparent;
}

/* Customized tab bar position */
.tabline {
	display: flex;
	background: rgba(0, 0, 0, 0.3);
}
.tabline > div {
	margin: 4px;
	border: 0px solid;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0);
	transition: background 0.1s;
}
.tab-unit:hover {
	background: rgba(255, 255, 255, 0.15);
}
.tab-unit:active {
	background: rgba(255, 255, 255, 0.4) !important;
}
.tabline, .tabline > div {
	height: 100%;
	width: 100%;
}
.panel-left > .tabline, .panel-right > .tabline {
	width: 44px;
	flex-direction: column;
}
.tabline img.qsz-sm {
	width: 32px;
	height: 32px;
}
.panel-left > .tabline > div, .panel-right > .tabline > div {
	width: 36px;
}
.panel-left > .tabline > div > img, .panel-right > .tabline > div > img {
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
}
.panel-top > .tabline, .panel-bottom > .tabline {
	height: 44px;
	flex-direction: row;
}
.panel-top > .tabline > div, .panel-bottom > .tabline > div {
	height: 36px;
	line-height: 36px;
}
.panel-top > .tabline > div > img, .panel-bottom > .tabline > div > img {
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
}
.panel-left > .tabline {
	left: 0;
}
.panel-right > .tabline {
	right: 0;
}
.panel-top > .tabline {
	top: 0;
}
.panel-bottom > .tabline {
	bottom: 0;
}
.sel-active {
	background: rgba(255, 255, 255, 0.3) !important;
}

.tab-container {
	background: rgba(0, 0, 0, 0.16);
	overflow: hidden;
}
.tab-slider {
	height: 100%;
	transform: translateY(100%);
	transition: transform 0.2s;
	background: rgba(0, 0, 0, 0.16);
}

/* Device height is less than 560px? */
@media (max-height: 600px) {
	.panel-top > .tabline, .panel-bottom > .tabline {
		height: 36px;
	}
	.panel-top > .tabline > div, .panel-bottom > .tabline > div {
		margin: 2px;
		border-radius: 4px;
		height: 32px !important;
	}
	.panel-top > .tabline img.qsz-sm, .panel-bottom > .tabline img.qsz-sm {
		width: 24px;
		height: 24px;
	}
}
@media (max-width: 600px) {
	.panel-left > .tabline, .panel-right > .tabline {
		width: 36px;
	}
	.panel-left > .tabline > div, .panel-right > .tabline > div {
		margin: 2px;
		border-radius: 4px;
		width: 32px !important;
		line-height: 32px;
	}
	.panel-left > .tabline img.qsz-sm, .panel-right > .tabline img.qsz-sm {
		width: 24px;
		height: 24px;
	}
}
